# shellcheck shell=bash
# shellcheck disable=SC1083,SC1090

set -o errexit

source_env_if_exists ../.envrc

__RC=(
	tfe
)
for i in "${__RC[@]}"; do
	if [[ -e "${HOME}/.${i}.rc" ]]; then
		. "${HOME}/.${i}.rc"
	fi
done
unset __RC i

GITHUB_TOKEN=$(gh auth token)
export GITHUB_TOKEN
