---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]
exclude: >
  (?x)^(
  .ansible|
  .cache|
  .gitignore|
  .pytest_cache|
  .ruff_cache|
  .terraform|
  .venv|
  .vscode/launch.json|
  common/.ansible|
  data|
  tmp
  )
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: "v4.8.3"
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-shebang-scripts-are-executable
      # - id: pretty-format-json
      #   args: ["--autofix"]
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key
      # - id: double-quote-string-fixer
      - id: end-of-file-fixer
        exclude: "charts/README.md"
      - id: file-contents-sorter
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: name-tests-test
      # - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: "v1.37.1"
    hooks:
      - id: yamllint
  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: 3.0.0
  - repo: https://github.com/jlec/pre-commit-hooks
    rev: "gh-111"
    hooks:
      # - id: bundler-audit
      - id: check-mailmap
      # - id: fasterer
      - id: forbid-binary
        exclude: "docs/images/.*"
      # - id: forbid-space-in-indent
      # - id: git-check
      # - id: git-dirty
      # - id: markdownlint
      # - id: protect-first-parent
      # - id: reek
      # - id: require-ascii
      # - id: rubocop
      - id: shellcheck
      # - id: script-must-have-extension
      # - id: script-must-not-have-extension
      - id: shfmt
  - repo: https://github.com/mxab/pre-commit-trivy
    rev: v0.15.0
    hooks:
      - id: trivyfs-docker
        stages: ["pre-push"]
        args:
          - --config
          - .trivy.yml
          - --show-suppressed
          - --severity
          - HIGH,CRITICAL
          - . # last arg indicates the path/file to scan
      - id: trivyconfig-docker
        stages: ["pre-push"]
        args:
          - --config
          - .trivy.yml
          - --severity
          - HIGH,CRITICAL
          - . # last arg indicates the path/file to scan
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: "v0.9.3"
    hooks:
      - id: taplo-lint
      - id: taplo-format
  - repo: https://github.com/zricethezav/gitleaks
    rev: "v8.28.0"
    hooks:
      - id: gitleaks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.33.3"
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/golangci/golangci-lint
    rev: "v2.4.0"
    hooks:
      - id: golangci-lint-full
        args: ["--timeout", "2m"]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: "v2.15.0"
    hooks:
      - id: pretty-format-golang
        args: [--autofix]
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: "v1.0.6"
    hooks:
      - id: go-fmt-import
      - id: go-vet
      - id: go-lint
      - id: go-unit-tests
      - id: gofumpt # requires github.com/mvdan/gofumpt
      # - id: go-err-check # requires github.com/kisielk/errcheck
      - id: go-static-check # install https://staticcheck.io/docs/
      # - id: go-ruleguard # requires https://github.com/quasilyte/go-ruleguard
      #   args: [rules/rules.go] # required
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.100.0"
    hooks:
      # - id: infracost_breakdown
      # - id: tfupdate
      - id: terraform_docs
        args:
          - --hook-config=--add-to-existing-file=true
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_providers_lock
        args:
          - --hook-config=--mode=always-regenerate-lockfile
          - --args=-platform=darwin_arm64
        stages: ["pre-push"]
      - id: terraform_tflint
      - id: terraform_trivy
        args:
          - --args=--config=.trivy.yml
          - --args=--severity=HIGH,CRITICAL
        stages: ["pre-push"]
      - id: terraform_checkov
        stages: ["pre-push"]
      # excluded until https://github.com/tenable/terrascan/issues/1390 is resolved
      # - id: terrascan
      #   args:
      #     - --args=--iac-dir deployment
      #     - --args=--non-recursive
      #     - --args=--skip-rules="AC_AWS_0207"
      #     - --args=--verbose
      #   stages: ["pre-push"]
  - repo: https://github.com/gitguardian/ggshield
    rev: "v1.43.0"
    hooks:
      - id: ggshield
        stages: ["pre-push"]
  - repo: https://github.com/jlec/pre-commit-cruft
    rev: "v0.1.1"
    hooks:
      - id: cruft
        stages: ["pre-push"]
